.bg {
    background-color: #343a40;
}

.sh {
    padding: 24px;
    textTransform: uppercase;
    fontWeight: bold;
    fontSize: 14;
    letterSpacing: 1px;
    overflow: hidden;
    textOverflow: ellipsis;
    whiteSpace: nowrap;
}
