.Landing-page {

    text-align: center;

    position: sticky;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}
body {
    /*margin: 0;*/
    /*height: 100vh;*/
    /*color: #353535;*/
    /*font-family: 'Roboto', sans-serif;*/
}

#root {
    height: 100%;
    width: 100%;
}



.App-background {

    background-color: #383333;
    background-image: url("https://docs.google.com/drawings/d/e/2PACX-1vRsR2Ei0W6TfPomTCwgO5F42knpkqF_YC1breswkkLLu2RtLz6ecYa77DHUeJ2weYzgX8qrHw1tApqg/pub?w=573&h=185");
    background-position: center;
    background-repeat: no-repeat;
}

.App-components {
    border-right: 1px solid black;
}

.btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}
